@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  color: grey;
}

.right-links {
  margin-left: auto;
  margin-right: 35px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  justify-content: space-around;
}

a:any-link {
  text-decoration: none;
  color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  align-items: flex-end;
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}