body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* Started editing here */

.body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.main-content {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20vw;
  /* flex-shrink: 0; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

.card {
  width: 300px;
  padding: 15px;
  height: auto;
  margin: 15px;
  align-self: stretch;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a:any-link {
  text-decoration: none;
  color: gainsboro;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}